#header {
    color: gray;
    background: black;
}

#menu {
    height: auto;
    color: white;
    background: black;
}

#select_model {
    border: wide rgb(42, 42, 42);
}

#select_bot {
    border: wide rgb(42, 42, 42);
}

#chat_history {
    background: black;
    border: round gray;
}

#input_field {
    width: 100%;
    border: round gray;
    background: black;
}

#footer {
    height: auto;
    width: 100%;
}
