
#menu_box {
    dock: top;
    height: auto;
    width: 100%;
    padding: 0 0;
    margin: 0 0 0 0;
    align_horizontal: left;
}

#history_box {
    scrollbar-background: black;
    scrollbar-background-active: black;
    scrollbar-background-hover: black;
    scrollbar-color: gray;
    scrollbar-color-active: darkgray;
    scrollbar-color-hover: darkgray;
    scrollbar-corner-color: darkgray;
}

UserMessageBox {
    layout: horizontal;
    height: auto;
    align-horizontal: left;
    padding: 0 1;
}

BotMessageBox {
    layout: horizontal;
    height: auto;
    align-horizontal: left;
    padding: 0 1;
}

.question {
    width: auto;
    min-width: 25%;
    padding: 0 1;
    margin: 0 0;
}

.answer {
    width: auto;
    min-width: 25%;
    padding: 0 1;
    margin: 1 0;
}

#input_box {
    dock: bottom;
    height: auto;
    width: 100%;
    margin: 0 0 2 0;
    align_horizontal: left;
}

#user_input {
    width: 90%;
    border: round rgb(59, 59, 59);
    background: transparent;
}

#send_button {
    height: auto;
    border: tall transparent;
    background: transparent;
}
